-----BEGIN CERTIFICATE-----
MIID1TCCAr2gAwIBAgIJAO7Ec66JU0kqMA0GCSqGSIb3DQEBCwUAMIGAMQswCQYD
VQQGEwJWTjELMAkGA1UECAwCSE4xCzAJBgNVBAcMAkhOMQswCQYDVQQKDAJNZTEQ
MA4GA1UECwwHcnVzdC5tZTENMAsGA1UEAwwEZGVtbzEpMCcGCSqGSIb3DQEJARYa
bmd1eWVuaHV5MjcxMjAwMEBnbWFpbC5jb20wHhcNMjMwODIzMTAyNzM4WhcNMjQw
ODIyMTAyNzM4WjCBgDELMAkGA1UEBhMCVk4xCzAJBgNVBAgMAkhOMQswCQYDVQQH
DAJITjELMAkGA1UECgwCTWUxEDAOBgNVBAsMB3J1c3QubWUxDTALBgNVBAMMBGRl
bW8xKTAnBgkqhkiG9w0BCQEWGm5ndXllbmh1eTI3MTIwMDBAZ21haWwuY29tMIIB
IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsX3Ve9OgqEw1OKrcC//bIxuk
ZqmRJ+optsDiwIChOerg+6BP8GYjdmMoV8nwDvnP3K+3P4VE6lOjH53IZ5f0BUfk
9L/W+t4F2d6yjgA8V26hISN9EO+a6Ls43xz68AYPFFXhaI3eyJebi4FPEBuPyT6y
YPl1T7f6xrIV39Ugvwi1/wPmcnmpQ9IvVzUVBrqlyabcO5uxFDIE7vTevczSLxa9
2DUtIKToXEotHPDs2Mu9WFcMtnHFqZ58eow/GZhiOIEdQ4qCBI4voDvtdbVnR7Ce
SYzpnUFiRX7f+5gXk5JzX9er0IbL+1tad9ZdDJoiXLP87F2pOlYHOCvF/NxMkQID
AQABo1AwTjAdBgNVHQ4EFgQU8s1FthWHKI3Mcs1OKgPb5LWso5kwHwYDVR0jBBgw
FoAU8s1FthWHKI3Mcs1OKgPb5LWso5kwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0B
AQsFAAOCAQEAZmKYEgyHNO2hxGr2/ONvsYwd86guWA8QFzUZMMOd0WO/dkU9CH7S
tCRfFtEUk/uVgNNXmzURW+gLbCS7oWdvzGFjbNbOuJfFreNYW1NhhFsP451/hs7g
KOFTA8Hcm3vgdLIUW9ZKqUpaBlQw4WKh1DdBN8bRMVNgedc/wNs0XmVEc/Yj3wJr
/qKgbmFwqqouvwrRUi9uguLcHlHmihpsvKeSRnFC05Eu+WKHd/dx8jJfS7KKD2BH
XbbS/Wbb6g4urdnFJrTrpllaczVIFrRWmd4ktsiDvUFj8PZhIRwb9Wl98ssiAMdC
ue6bk1QS82Nq6M7NX0IPXrORLT01KOACyA==
-----END CERTIFICATE-----
