-----BEGIN CERTIFICATE-----
MIID6zCCAtOgAwIBAgIJAKuLY7WgVuVcMA0GCSqGSIb3DQEBCwUAMIGLMQswCQYD
VQQGEwJWTjELMAkGA1UECAwCSE4xCzAJBgNVBAcMAkhOMRMwEQYDVQQKDApNeSBj
b21wYW55MRMwEQYDVQQLDApydXN0IHN0YWNrMQ0wCwYDVQQDDARkZW1vMSkwJwYJ
KoZIhvcNAQkBFhpuZ3V5ZW5odXkyNzEyMDAwQGdtYWlsLmNvbTAeFw0yMzA4MjQw
MjMyNTBaFw0yNDA4MjMwMjMyNTBaMIGLMQswCQYDVQQGEwJWTjELMAkGA1UECAwC
SE4xCzAJBgNVBAcMAkhOMRMwEQYDVQQKDApNeSBjb21wYW55MRMwEQYDVQQLDApy
dXN0IHN0YWNrMQ0wCwYDVQQDDARkZW1vMSkwJwYJKoZIhvcNAQkBFhpuZ3V5ZW5o
dXkyNzEyMDAwQGdtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoC
ggEBALF91XvToKhMNTiq3Av/2yMbpGapkSfqKbbA4sCAoTnq4PugT/BmI3ZjKFfJ
8A75z9yvtz+FROpTox+dyGeX9AVH5PS/1vreBdneso4APFduoSEjfRDvmui7ON8c
+vAGDxRV4WiN3siXm4uBTxAbj8k+smD5dU+3+sayFd/VIL8Itf8D5nJ5qUPSL1c1
FQa6pcmm3DubsRQyBO703r3M0i8Wvdg1LSCk6FxKLRzw7NjLvVhXDLZxxamefHqM
PxmYYjiBHUOKggSOL6A77XW1Z0ewnkmM6Z1BYkV+3/uYF5OSc1/Xq9CGy/tbWnfW
XQyaIlyz/OxdqTpWBzgrxfzcTJECAwEAAaNQME4wHQYDVR0OBBYEFPLNRbYVhyiN
zHLNTioD2+S1rKOZMB8GA1UdIwQYMBaAFPLNRbYVhyiNzHLNTioD2+S1rKOZMAwG
A1UdEwQFMAMBAf8wDQYJKoZIhvcNAQELBQADggEBABSAeb4cHYqD4T4u38yk8to0
EyKVa0YwnXjoG1+/6asdWCKhi+ZVgwRtejhU/kA3u1IU/w7j/waJrB7XZj0bM/qn
dhtlgsklTCMsI5dUzUYU0oR4h3TsduGRQe0r/wJqY9ip4CdxCn3SgwAHrCDAcGrJ
lFt5EheeR41cXs0abFzloH8UIhK4Rh8lOiC7V1x4VEKMp86m7Qa9YHqQfD72D2fK
wu0kuNZ/c2f4LkwOCLWMQuHyXh8ztgNq0p1DSc45yPGwQtG17gfFEI74CWwz/PCp
nbffgKy0IHisDBLX81tBS97d+XUKfy6U2v9D0QCOr+1OHVbFuCYuYbzUFkKoABs=
-----END CERTIFICATE-----
